/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  /* background-color: #f3f6ef; */
  background: rgb(250, 252, 247);
  background: linear-gradient(
    90deg,
    rgba(250, 252, 247, 0.24) 0%,
    rgba(107, 132, 71, 0.24) 50%
  );
}
.App-header {
  background-color: #f3f6ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
